/*Base btn*/
$btn-font-weight: 700;
$btn-text-transform: uppercase;
$btn-base__border-radius: 100px; //4px
$btn-base-height: 48px;
$btn-base-hovered--bg : $main-color;
$btn-base-hovered-svg--bg: #fff;
/*Base btn*/

/*Main btn*/
$btn-main-background: linear-gradient(270deg, #5469fb 0, #5197ff); //linear-gradient(to left, #ff7c6e 0%, #fbb67a 100%) linear-gradient(108deg,#ffa23b,#ff5423)
$btn-main-background-hover: linear-gradient(270deg,#2e46ee 0,#5196ff); //linear-gradient(270deg,#ff8645,#ff8645);
$btn-main-color: $white;
$btn-main-color-hover: $white;
$btn-main-box-shadow: none; //0px 7px 17px rgba(255, 89, 37, 0.34);
$btn-main-box-shadow-active: 0px 7px 17px rgba(255, 89, 37, 0.34);
$btn-base_colored-shadow: none;
/*Main btn*/

/*Border btn*/
$btn-border-background: $white;
$btn-border-background-hover: linear-gradient(270deg,#ff8645,#ffa23b);
$btn-border-color: #ef9c60;
$btn-border-color-hover: $white;
$btn-border-border: 2px solid #ef9c60;
$btn-border-border-hover: 2px solid #ef9c60;
$btn-border-box-shadow: none;
$btn-border-box-shadow-active: none;
$confirm-modal__button-shadow: 0 10px 20px -5px rgba(196,74,0,.6);
$btn-bordered-svg-bg: $main-color;
/*Border btn*/

/*Secondary btn*/
$btn-secondary-background: linear-gradient(108deg,#ffa23b,#ff5423);
$btn-secondary-background-hover: linear-gradient(270deg,#ff8645,#ff8645);
$btn-secondary-color: $white;
$btn-secondary-color-hover: $white;
$btn-secondary-box-shadow: 0px 7px 17px rgba(255, 89, 37, 0.34);
/*Secondary btn*/

/*Disabled btn*/
$btn-disabled-background: #ebebeb;
$btn-disabled-color: #828282;
$btn-disabled-box-shadow: none;
$btn-disabled-border: none;
/*Disabled btn*/

/*Button order*/

$btn-order-m1200-width: 60px;
$btn-order-m1200-height: 60px;
$btn-order__border-radius-m1200: 0px;

/*Button order*/

/*Profile button*/

$metainfo__btn-bg: $btn-main-background;
$metainfo__btn-bg-hover: $btn-main-background-hover;

/*Profile button*/
