.card{
    max-width: 100%;
    border: 1px solid $border-light;
    background-color: #fff;
    margin-bottom: 20px;
    transition: box-shadow .3s ease-in;
    padding: 30px 55px;
    position: relative;
    @include media992max{
        padding: 20px;
    }
    &:hover {
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    }
    &_title{
        color: $font-color-main;
        font-size: 16px;
        font-weight: 500;
        transition: color .3s cubic-bezier(0,.42,.37,.96);
        display: flex;
        align-items: center;
        &:hover{
            color: $second-color;
            cursor: pointer;
        }
        @include media576max{
            flex-wrap: wrap;
            .break-xs {
                width: 100%;
                margin-top: 15px;
            }
        }
        &__text{
            max-width: calc(100% - 580px);
            white-space: nowrap;
            line-height: 1.4;
            overflow: hidden;
            text-overflow: ellipsis;
            &--big{
                max-width: calc(100% - 430px);
            }
            @include media576max{
                max-width: calc(100% - 100px);
            }
        }
        &__index{
            display: inline-block;
            margin-right: 10px;
            color: $label-light-grey;
        }
        &__status{
            font-size: 14px;
            font-weight: 500;
            padding: 8px 12px;
            display: inline-block;
            border-radius: $main-border-radius;
            margin-left: 15px;
            @include media576max{
                margin-left: 0;
            }
            &--success {
                background: rgba(89, 199, 77, 0.1);
                color: #59c74d;
            }
            &--attention {
                background: rgba(255, 105, 12, 0.1);
                color: $main-color;
            }
            &--error {
                background: rgba(212, 28, 28, 0.1);
                color: #d41c1c;
            }
        }
        &__from{
            display: inline-block;
            margin-left: 15px;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 8px;
            color: $label-light-grey;
            &--error{
                color: #d41c1c;
                font-weight: bold;
                @include media480max {
                    width: 100%;
                    margin-top: 15px;
                    margin-left: 0;
                }
            }
        }
    }

    &_header{
        &-togle{
            position: absolute;
            right: 55px;
            top: 45px;
            width: 30px;
            height: 30px;
            transform: translateY(-50%);
            color: #6e6e6e;
            cursor: pointer;
            @include media992max{
                top: 30px;
                right: 15px;
            }
            &:hover{
                color: $main-color;
            }
            svg{
                width: 30px;
                height: 30px;
                transition: .3s all;
            }
        }
    }

    &_body{
        &__detail{
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            margin-right: 30px;

            @include media992max{
                margin-bottom: 15px;
            }

            &:last-child{
                margin-right: 0;
            }
            &-title{
                display: block;
                color: #afb2b9;
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
                margin-bottom: 8px;
                &--error{
                    color: #d41c1c;
                    font-weight: bold;
                }
            }
            &-counter{
                display: flex;
                align-items: center;
                &--icon-clock {
                    width: 35px;
                    height: 35px;
                    mask-image: url("~@/assets/img/svg/clock.svg");
                    background: $main-color;
                    margin-right: 10px;
                }
                img {
                    margin-right: 10px;
                }
                svg {
                    flex-shrink: 0;
                }
            }
            &--hovered{
                color: #000;
                position: relative;
                cursor: pointer;
                &:hover{
                    &:before{
                        opacity: 1;
                    }
                }
                &::before{
                    content: "";
                    position: absolute;
                    left: -15px;
                    right: -15px;
                    top: -15px;
                    bottom: -15px;
                    background: rgba(0,0,0,.1);
                    z-index: 2;
                    border-radius: $main-border-radius;
                    opacity: 0;
                    transition: all .3s;
                }
            }
        }
        &__row{
            display: flex;
            padding: 30px 0;
            border-bottom: 1px solid $border-light;
            &:first-child{
                border-top: 1px solid $border-light;
                margin-top: 30px;
                @include media992max{
                    margin-top: 15px;
                }
            }
            &:last-child:not(.card_body__row--order){
                margin-top: 0;
                padding-top: 0;
            }
            @include media992max{
                padding: 15px 0 0;
            }
            .billing_order_orderid {
                color: #1f2939;
            }
            &--md-direction{
                .card_body__col {
                    &:first-child {
                        min-width: 235px;
                        width: 296px;
                    }
                    &:last-child {
                        .card_body__detail {
                            margin-right: 50px;
                        }
                    }
                    &--sm {
                        width: 100% !important;
                    }
                }
                @include media992max{
                    flex-direction: column;
                    .card_body__col{
                        &:last-child{
                            margin-top: 30px;
                        }
                    }
                }
            }
            &--border-n{
                padding-bottom: 0;
                border: none;
            }
        }
        &__col{
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        &_writer{
            display: flex;
            margin-right: 30px;
            &_info{
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &--id{
                    margin-bottom: 10px;
                    color: #AFB2B9;
                }
                &--nic {
                    text-transform: capitalize;
                }
            }
        }
        &__testimonials{
            display: flex;
            align-items: center;
            @include media992max {
                padding-bottom: 15px;
            }
            .avatar-wrapper{
                margin-right: 10px;
            }
            &__right{
                &-name{
                    margin-bottom: 10px;
                    display: grid;
                    align-items: center;
                    grid-template-columns: repeat(3, auto);
                    gap: 5px;
                    span {
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
                &_rate{
                    display: inline-flex;
                    align-items: baseline;
                    margin-left: 5px;
                    padding: 7px 10px;
                    font: 700 16px $font-family-base;
                    border-radius: $main-border-radius;
                    color: $main-color;
                    background: $writers-rate-bg;
                    >span{
                        margin-left: 5px;
                    }
                }
                .rate-container{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    &_footer{
        padding-top: 30px;
        @include media992max{
            padding-top: 15px;
        }
        &_more-details {
            margin-left: auto;
            margin-right: 0;
            @include media992max{
                margin-left: 0;
            }
            @include media768max{
                width: 100%;
                margin-right: 0;
                margin-left: 0;
            }
        }
        &_action{
            display: flex;
            @include media1279max{
                flex-wrap: wrap;
                // justify-content: center;
            }
            &-btn{
                margin-right: 20px;
                position: relative;
                @include media1279max{
                    // width: calc(40% - 15px);
                    margin-bottom: 15px;
                }
                @include media768max{
                    width: 100%;
                    margin-right: 0;
                    margin-left: 0;
                }
                &--clock, &--delete, &--finalize, &--star, &--file, &--conversation {
                    background: $btn-bordered-svg-bg;//$main-color;
                    mask-size: cover;
                    width: 20px;
                    height: 20px;
                    transition: .3s;
                    margin-right: 10px;
                }
                &--clock {
                    mask-image: url('~@/assets/img/svg/clock.svg');
                }
                &--delete {
                    mask-image: url('~@/assets/img/svg/delete.svg');
                }
                &--finalize {
                    mask-image: url('~@/assets/img/svg/flag.svg');
                }
                &--star {
                    mask-image: url('~@/assets/img/svg/rate.svg');
                }
                &--file {
                    mask-image: url('~@/assets/img/svg/file.svg');
                }
                &--conversation {
                    mask-image: url('~@/assets/img/svg/revision.svg');
                }
                &:hover{
                    & > .card_footer_action-btn--clock, .card_footer_action-btn--delete, .card_footer_action-btn--finalize, .card_footer_action-btn--star, .card_footer_action-btn--file, .card_footer_action-btn--conversation{
                        background: $card_footer_action-hover-bg;//#fff;
                    }
                }
            }
        }
    }
}

.billing_order_list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.billing_order{
    width: 100%;
    display: flex;
    border-top: 1px solid #e8edf4;
    padding: 30px 0;
    color: #7e8490;
    font-size: 16px;
    font-weight: 400;
    @include media576max{
        flex-wrap: wrap;
    }
    &:first-child{
        border-top: 0;
    }
    &:last-child{
        padding-bottom: 0;
    }
    &_index{
        margin-right: 20px;
        @include media576max{
            width: 30px;
            margin-right: 0px;
        }
    }
    &_title{
        max-width: calc(100% - 270px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include media576max{
            max-width: calc(100% - 30px);
        }
    }
    &_orderid{
        color: #7e8490;
        margin-left: 20px;
        flex-grow: 1;
        transition: .3s all;
        @include media576max{
            margin-top: 15px;
            margin-left: 30px;
        }
        &--ml{
            margin-left: 0;
        }
        &:hover{
            color: $second-color;
        }
    }
    &_price{
        @include media576max{
            margin-top: 15px;
        }
    }
}

.slide-enter-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.chat{
    width: 100%;
    &-wrapper {
        max-height: 500px;
        overflow-y: scroll;
    }
    &_item {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 40px 0;
        position: relative;
        &:last-child {
            margin-bottom: 50px;
        }
        &__support {
            justify-content: flex-start;
            &-name {
                color: #a8aaae;
                font-size: 14px;
                margin-bottom: 10px;
            }
            .chat_item__content-header__time{
                padding-right: 0;
            }
        }
        &:not(.chat_item__support) {
            .chat_item__avatar {
                display: none;
            }
            .chat_item__content-wrapper, .chat_item__wrapper, .chat_item__inside {
                display: flex;
                justify-content: flex-end;
            }
            .chat_item__content {
                background: #dcf1ff;
            }
        }
        &__inside{
            display: flex;
            max-width: 50%;
            @include media992max{
                max-width: 100%;
            }
            @include media480max{
                width: 100%;
            }
        }
        &__content{
            display: flex;
            flex-direction: column;
            padding: 20px;
            background: #f2f6f9;
            border-radius: 10px;
            width: calc(100% - 60px);
            min-width: 320px;
            position: relative;
            &.revision {
                padding-top: 50px;
            }
            &-wrapper {
                width: calc(100% - 60px);
                @include media480max{
                    width: 100%;
                }
            }
            @include media480max{
                min-width: initial;
            }
            &-header{
                &__time{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #a8aaae;
                    font-size: 12px;
                    font-weight: 400;
                    padding-right: 10px;
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    right: 0;
                    text-align: left;
                }
                &__name{
                    display: block;
                    color: #a8aaae;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
            }
            &-revision {
                display: flex;
                align-items: center;
                position: absolute;
                top: 20px;
                left: 20px;
                font-size: 12px;
                &::before {
                    content: '';
                    display: block;
                    width: 12px;
                    height: 12px;
                    margin-right: 10px;
                    mask-image: url("~@/assets/img/svg/checkbox_icon.svg");
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    background: #d41c1c;
                }
            }
            &-text{
                word-wrap: break-word;
            }
        }
        &__avatar{
            &_order{
                order: -1;
            }
            &-user{
                min-width: 50px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background-color: $main-color;
                margin-left: 10px;
            }
            &-service{
                min-width: 50px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                // background-color: rgba(39, 217, 31, 0.1);
                color: #fff;
                margin-right: 10px;
                position: relative;
            }
        }
    }
    &_actions{
        width: 100%;
        display: flex;
        padding-top: 30px;
        border-top: 1px solid $border-light;
        .btn-base{
            margin-left: 15px;
        }
    }
}

.slide-leave-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
    max-height: 202px;
    overflow: hidden;
    @media all and (max-width: 1200px){
        max-height: 270px;
    }
    @media all and (max-width: 992px){
        max-height: 310px;
    }
}

.slide-enter, .slide-leave-to {
    overflow: hidden;
    max-height: 0;
}

.bubble--unread{
    width: 25px;
    height: 25px;
    background: #1BB361;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-left: 7px;
    font-size: 12px;
}
