.discount {
    width: 100%;
    max-width: 1170px;
    height: 140px;
    margin: 60px auto 40px;
    background: $discount-bg;//$second-gradient;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $main-border-radius;
    &-dots {
        list-style: none;
        padding: 10px 0 !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 0;
        &__item {
            width: 16px;
            height: 16px;
            background: $discount-dots-item-bg;
            border-radius: 50%;
        }
    }
    &-desc {
        flex-grow: 2;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: $discount-desc-jc;
        .discount-dots {
            left: -8px;
        }
        &__val {
            font-size: 90px;
            line-height: 1;
            font-weight: bold;
            color: $white;
            @include media576max{
                padding-bottom: 40px;
            }
        }
        &__about {
            font-size: 32px;
            font-weight: bold;
            color: $white;
            width: 330px;
            margin-left: 20px;
        }
    }
    &-redirect {
        width: 300px;
        height: 100%;
        position: relative;
        border-left: $discount-redirect-border;
        display: flex;
        align-items: center;
        justify-content: center;
        .discount-dots {
            right: -8px;
        }
        &::before, &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background: $discount-redirect__before-bg;
            border-radius: 50%;
            left: -9px;
        }
        &::before {
            top: -8px;
        }
        &::after {
            bottom: -8px;
        }
        &__link {
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
            color: $main-color !important;
            padding: 13px 37px;
            border-radius: $btn-base__border-radius;
            background: #fff;
            font-family: $font-family-base;
        }
    }
}

@media all and (max-width: 1280px) {
    .discount {
        max-width: 1110px;
    }
}

@media (max-width: 1200px) {
    .discount {
        max-width: 930px;
    }
}

@media (max-width: 992px) {
    .discount {
        max-width: 690px;
    }
    .discount-redirect {
        width: 200px;
    }
    .discount-redirect__link {
        font-size: 16px;
    }
    .discount-desc__about {
        width: 250px;
        font-size: 24px;
    }
    .discount-desc__val {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    .discount {
        width: calc(100% - 30px);
        max-width: 670px;
        margin-bottom: 20px;
    }
}

@media (max-width: 680px) {
    .discount-desc {
        padding: 0 20px;
    }
    .discount-desc__about {
        width: auto;
    }
    .discount-redirect {
        min-width: 180px;
    }
}

@media (max-width: 580px) {
    .discount {
        background: $discount-w580-bg;
        flex-direction: column;
        height: auto;
    }
    .discount-dots {
        display: none;
    }
    .discount-desc {
        flex-direction: column;
        padding: $discount-desc-w580-padding;
    }
    .discount-desc__about {
        text-align: center;
        margin-left: 0;
        padding: 0 20px;
    }
    .discount-redirect {
        padding: 50px 0;
        width: 100%;
        border-left: none;
        border-top: $discount-redirect-border;
        &::after {
            top: -8px;
            left: auto;
            right: -9px;
        }
    }
}

//.discount-ticket {
//    margin: 0 auto;
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    max-width: 1170px;
//    width: 100%;
//    font-family: $font-family-base;
//    height: 190px;
//    background: #fff;
//
//    &__item {
//        font-weight: 700;
//        line-height: 1;
//        color: #fff !important;
//        display: flex;
//        align-items: center;
//        justify-content: center;
//        transition: color .2s ease;
//
//        &:first-child {
//            padding-left: 50px;
//            flex-basis: 575px;
//
//            border-right: 2px dashed #fff;
//            background: url('/images/svg/ticket_discount_1.svg') no-repeat;
//            background-size: 101%;
//            background-position: center;
//
//            p {
//                font-size: 50px;
//                color: #fff;
//                font-weight: 700;
//                line-height: 1;
//                margin-bottom: 0;
//            }
//        }
//
//        &:nth-child(2) {
//            font-size: 140px;
//            line-height: 1;
//            flex-basis: 380px;
//            // padding: 50px 0 45px;
//            border-right: 2px dashed #fff;
//            background: url('/images/svg/ticket_discount_2.svg') no-repeat;
//            background-size: 101%;
//            background-position: center;
//        }
//
//        &:last-child{
//            flex-basis: 215px;
//            background: url('/images/svg/ticket_discount_3.svg') no-repeat;
//            background-size: 101%;
//            background-position: center;
//            flex-direction: column;
//
//            &:hover {
//                color: $dark-blue;
//
//                .discount-ticket__btn {
//                    .play-inner {
//                        fill: $dark-blue;
//                        stroke: $dark-blue;
//                    }
//                }
//            }
//        }
//    }
//
//    &__btn {
//        width: 44px;
//        height: 52px;
//        background: url('/images/svg/play.svg') no-repeat;
//        background-size: contain;
//        margin-bottom: 32px;
//
//        .play-inner {
//            fill: #fff;
//            stroke: #fff;
//            transition: fill .2s ease, stroke .2s ease;
//        }
//    }
//
//    &__arrow {
//      width: 40px;
//      height: 34px;
//      background: url(/images/svg/discount-arrow.png) 50% no-repeat;
//      background-size: contain;
//      margin-bottom: 30px;
//    }
//}
//
//@include media1200max {
//    .discount-ticket {
//        &__item {
//
//            &:first-child {
//                padding-left: 30px;
//
//                p {
//                    font-size: 32px;
//                }
//            }
//
//            &:nth-child(2) {
//                font-size: 80px;
//            }
//        }
//
//        &__btn {
//            width: 44px;
//            height: 52px;
//            background: url('/images/svg/play.svg') no-repeat;
//            background-size: contain;
//            margin-bottom: 32px;
//
//            .play-inner {
//                fill: #fff;
//                stroke: #fff;
//                transition: fill .2s ease, stroke .2s ease;
//            }
//        }
//    }
//}
//
//@include media992max {
//    .discount-ticket {
//        height: 120px;
//
//        &__btn {
//            margin-bottom: 14px;
//        }
//    }
//}
//
//@include media768max {
//  .discount-ticket {
//    height: 115px;
//  }
//  .discount-ticket__item:first-child p {
//    font-size: 20px;
//  }
//  .discount-ticket__item:nth-child(2) {
//    font-size: 60px;
//  }
//  .discount-ticket__btn {
//    margin-bottom: 0;
//  }
//  .discount-ticket__arrow {
//    margin-bottom: 0;
//  }
//  .discount-ticket__text {
//    display: none;
//  }
//}
//
//@include media480max {
//    .discount-ticket {
//        flex-direction: column;
//        padding: 0;
//        height: auto;
//        background: linear-gradient(108deg, #ffa23b, #ff5423);
//        &__item {
//            &:first-child {
//                padding-left: 0px;
//                padding: 0 40px;
//                flex-basis: 245px;
//                //width: 100%;
//                border-right: none;
//                border-bottom: 2px dashed #fff;
//                background: none;
//                //background-size: cover;
//                //background-position: 50% 95%;
//
//
//                p {
//                    max-width: 210px;
//                    width: 100%;
//                    color: #fff;
//                    font-family: $font-family-base;
//                    font-size: 44px;
//                    font-weight: 700;
//                    line-height: 44px;
//                    text-align: center;
//                }
//            }
//
//            &:nth-child(2) {
//                font-size: 100px;
//                // line-height: 1;
//                flex-basis: 145px;
//                // padding: 40px 0px;
//                //width: 100%;
//                //max-width: 460px;
//                border-right: none;
//                border-bottom: 2px dashed #fff;
//                background: none;
//                //background-size: cover;
//                //background-position: 50% 50%;
//            }
//
//            &:last-child{
//                flex-basis: 180px;
//                //width: 100%;
//                padding: 40px 0;
//                background: none;
//                //background-size: cover;
//                //background-position: 50% 50%;
//                flex-direction: column;
//
//                &:hover {
//                    color: $dark-blue;
//
//                    .discount-ticket__btn {
//                        .play-inner {
//                            fill: $dark-blue;
//                            stroke: $dark-blue;
//                        }
//                    }
//                }
//            }
//        }
//
//        &__btn {
//            width: 44px;
//            height: 52px;
//            background: url('/images/svg/play.svg') no-repeat;
//            background-size: contain;
//            margin-bottom: 32px;
//
//            .play-inner {
//                fill: #fff;
//                stroke: #fff;
//                transition: fill .2s ease, stroke .2s ease;
//            }
//        }
//    }
//}
