.header {
    background-color: hsla(0, 0%, 100%, 0.95);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 51;
    transition: box-shadow 0.3s ease-in-out;
    @include media1200max {
        height: $header-m1200-height;
        padding: $header-padding;
    }

    .avatar-img {
        width: $avatar-img__width;
        height: $avatar-img__height;

        span {
            font-weight: bold;
            font-size: $avatar-img-span__font-size;
            line-height: 18px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 0 30px;
    }

    &__logo {
        display: flex;
        align-items: center;
        position: relative;

        &-img {
            position: relative;
            width: $logo-img-width;
            height: 62px;
            display: flex;
            align-items: center;
            background: $logo-img;
            &::before{
                content: 'Prof';
                display: $logo-img-after--display;
                color: #707370;
                font: 700 32px / 1 $font-family-base;
                @include media576max {
                    content: 'P';
                    font-size: 28px;
                    padding-left: 7px;
                }
            }
            &::after{
                content: 'Essays.com';
                padding-left: 2px;
                display: $logo-img-after--display;
                font: 700 32px / 1 $font-family-base;
                color: #4b8bc0;
                @include media576max {
                    content: 'E';
                    padding-left: 0;
                    font-size: 28px;
                }
            }
        }
        &::after{
            content: 'Let professionals custom write for you';
            display: $header-logo-after--display;
            font: 600 9px / 1.2 $font-family-base;
            color: #707370;
            position: absolute;
            top: 80%;
            @include media576max {
                content: '';
                width: 52px;
                height: 52px;
                top: 50%;
                transform: translateY(-50%);
                border: 2px solid $main-color;
                border-radius: 50%;
                box-sizing: border-box;
            }
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1200px) {
    .header {
        &__wrapper {
            padding-right: 0;
            height: 60px;
        }

        &__logo-img {
            max-width: $logo-img-m1200-width;
            height: $logo-img-m1200-height;
        }
    }
}

@media (max-width: 992px) {
    .header__wrapper {
        padding-left: 15px;
    }
}

@media (max-width: 480px) {
    .header {
        &__wrapper {
            padding-left: 20px;
        }

        &__logo {
            &-img {
                width: $logo-img-m480-width;
                height: $logo-img-m480-height;
                background: $logo-img-mobile no-repeat;
            }
        }
    }
}
