input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &::-ms-clear {
        display: none;
    }
}
.form-input,
.form-select-country,
.form-masked-input {
    &__fieldset {
        border:none !important;
        input {
            font-size: 14px;
            border: $input-border;
            user-select: text !important;
            background: transparent;
            &:focus {
                border: $input-border-focus;
            }
            &.error-border {
                border: $input-border-error;
            }
            &.success {
                border: $input-border-success;
            }
        }
    }
}

button {
    font-family: $font-family-base, sans-serif !important;
}
