.notice-messages-list-enter {
    opacity: 0;
    transform: translateX(80px);
}

.notice-messages-list-leave-active {
    position: absolute;
    left: 0;
    transform: translateY(60px);
}
.notice-messages-list-leave-to  {
    opacity: 0;
}

.notice-messages {
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 300px;
    z-index: 99999999999;
    &__item {
        transition: all 1s;
        display: inline-block;
        margin-bottom: 10px;
        width: 100%;
        padding: 25px 0px 25px 20px;
        border-radius: $main-border-radius;
        &-success {
            background: #4ed03c;
        }
        &-info {
            background: #ff7b2f;
        }
        &-error {
            background: #ff2f2f;
        }
        &-inside {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &__icon {
                width: 34px;
                height: 34px;
                svg{
                    width: 34px;
                    height: 34px;
                }
            }
            &__text {
                flex-grow: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.2;
                // font-family: $font-family-base;
                margin: 0 20px;
                font-size: 16px;
                font-weight: 500;
                color: #fff;
            }
            &__close {
                color: #fff !important;
                background: transparent;
                border: none;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
