.btn {
    &-base {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: $btn-base-height;
        padding: 12px 24px;
        font-size: $font-size-base;
        font-weight: $btn-font-weight;
        text-transform: $btn-text-transform;
        border: none;
        border-radius: $btn-base__border-radius;
        transition: .2s;
        cursor: pointer;
    }

    &-main {
        background: $btn-main-background;
        color: $btn-main-color;
        box-shadow: $btn-main-box-shadow;

        &:hover {
            background: $btn-main-background-hover;
            color: $btn-main-color-hover;
        }

        &:active{
            box-shadow: $btn-main-box-shadow-active;
        }
    }
    &-disabled {
        background: $btn-disabled-background !important;
        border: $btn-disabled-border !important;
        color: $btn-disabled-color !important;
        box-shadow: $btn-disabled-box-shadow;
        cursor: default;
    }
}