.page-content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    @include media992max {
        padding: 0 15px;
    }
    @include media1279max{
        max-width: 1140px;
    }

    @include media1200max{
        max-width: 100%;
        padding: 0 15px;
    }

    @include media992max{
        max-width: 100%;
    }
}

.wrapper--xs{
    @include media576max{
        padding: 0;
    }
}

.page-wrapper {
    margin-top: 80px;
    @include media1200max {
        margin-top: $page-wrapper__w1200-margin_top;
    }
}
